version: 2.1
jobs:
  run-test:
    docker:
      - image: mcr.microsoft.com/playwright:v1.35.0-jammy
    # Steps to the job
    steps:
      - checkout
      - run: npm i -D @playwright/test
      - run: npx playwright install
      - run: npx playwright install chrome
      - run:
          name: Run test
          command: npx playwright test --project=chromium
      - store_test_results:
          path: ./outcome/test-results/results.xml
# Invoke jobs via workflows
workflows:
  run-test-workflow:
    jobs:
      - run-test